.testimonials-container {
    display: flex; /* Ändring för att tillåta flexbox */
    flex-direction: column; /* Stapla vertikalt */
    align-items: center; /* Centrera innehållet */
    width: 100%;
    text-align: center;
    position: relative; /* För att absolut positionera knapparna i förhållande till denna container */
    padding: 3rem;
}
.testimonial-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centrera knappar vertikalt i förhållande till testimonial */
    width: 100%; /* Anpassa efter behov */
}
.description {
    font-style: italic;
    margin-bottom: 20px;
}


.testimonial {
    min-height: 550px;
    max-height: 950px;
    padding: 60px;
    margin: 20px auto; /* Centrerar testimonial blocket horisontellt */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrerar innehållet vertikalt */
}
.testimonial-content {
    margin-top: -2rem;
}
.nav-button {
    margin: 0 1rem; /* Lägg till marginal för att separera från testimonial */
    margin-top: -2.5rem;
    border: none;
    background-color: #DA7635; /* Mörk terrakotta för knappar */
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    top: 45%;
    transform: translateY(-50%);
    font-weight: bold;
    font-size: 24px;
    z-index: 1;
}
    .nav-button:hover {
        background-color: #C06533; /* Ljusare terrakotta vid hovring */
    }

.prev-button {
    left: 15%; /* Justera enligt behov */
}

.next-button {
    right: 15%; /* Justera enligt behov */
}

.testimonial-img {
    border-radius: 100%;
    margin-bottom: 20px;
    width: 800px;
    height: 500px;
}

.title {
    color: #888;
    margin-bottom: 10px;
}

.testimonial-text {
    font-size: 1.0em;
    line-height: 1.6;
    width: 50%; /* Sätter bredden av texten till 50% */
    margin: 1rem auto; /* Centrerar texten horisontellt */
    text-align: center; /* Centrerar texten inuti blocket */
}

.testimonial-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-info {
    text-align: center;
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.testimonial-enter-right, .testimonial-enter-left {
    animation-duration: 0.5s; /* Justera tiden efter behov */
}

.testimonial-enter-right {
    animation-name: slideInRight;
}

.testimonial-enter-left {
    animation-name: slideInLeft;
}

/* Responsive styles */
@media (max-width: 768px) {
    .testimonial-flex-container {
        flex-direction: row; /* Behåll radlayout även på små skärmar */
        justify-content: center; /* Centrera innehållet */
        align-items: center; /* Centrera elementen vertikalt */
        padding: 0 10px; /* Lägg till lite padding på sidorna */
    }

    .testimonial {
        /* Anpassa bredden och andra egenskaper för att passa mindre skärmar */
        width: 100%; /* Använd hela bredden */
        max-height: unset; /* Ta bort maxhöjden om det behövs */
        margin: 10px 0; /* Mindre marginal */
        padding: 30px 20px; /* Mindre padding */
    }

    .testimonial-content, .testimonial-img, .testimonial-text {
        width: auto; /* Låt innehållet ta upp så mycket utrymme det behöver */
        margin: 0; /* Ta bort eventuella marginaler */
    }

    .nav-button {
        position: absolute;
        padding: 5px 10px; /* Mindre padding för knapparna */
        font-size: 18px; /* Mindre fontstorlek */
        top: 26rem;
    }
}
@media (max-width: 370px) {
    .nav-button {
        position: absolute;
        padding: 5px 10px; /* Mindre padding för knapparna */
        font-size: 18px; /* Mindre fontstorlek */
        top: 20rem;
    }
}